In [1]:
import pandas as pd
import csv
import numpy as np

In [2]:
#dataset originale contenente le 1132 domande da utilizzare per acc,  con il proprio id
df = pd.read_csv("/home/inversi/FAQProject/Armillotta/Dataset/fullQuestion-testset.csv", sep = "	", encoding = 'utf8', quotechar = '"')
print(len(df))
df.head()

1132

   id                                         question
0   3                  quale è il numero verde di aqp?
1   4    a quali orari posso chiamare il numero verde?
2   5  si può telefonare da cellulare al numero verde?
3   8                                 sito web di aqp?
4  41                                   acqua potabile

In [3]:
#dataset originale della competizione. Id, q, a, tag.
df2 = pd.read_csv("/home/inversi/FAQProject/Armillotta/Dataset/faqs_uft8_QA.csv", sep = ";", encoding = 'utf8', quotechar = '"')
df2.head()

,id,question,answer,tag
0,182,Quale uso viene attribuito alla somministrazio...,Per richiedere un nuovo allacciamento è suffic...,"uso, commerciale, domestico, allacciamento, so..."
1,183,Qual è il numero per comunicare la lettura del...,Il numero per comunicare la lettura del contat...,"contatore, autolettura, lettura, consumi, este..."
2,184,A chi si deve intestare il contratto di acqua ...,L'intestatario del contratto deve coincidere c...,"commerciale, domestico, fornitura, intestazion..."
3,185,Cosa è il deposito cauzionale?,Il deposito cauzionale e una somma di denaro c...,"deposito cauzionale, fattura, cauzione"
4,186,Quale funzione ha l'Acquedotto?,Tramite il servizio di acquedotto l'acqua vien...,"acqua, quota, acquedotto, distribuzione, funzione"

In [4]:
#DATASET CON I  NOSTRI RISULTATI (RISPOSTA-INDICE POSIZIONE). 
#L'INDICE SERVE PER RECUPERARE DAL DATASET ORIGINALE, IL SUO ID
result=pd.read_csv("outcome_final.csv", sep = ";", encoding = 'utf8', quotechar = '"')
print(len(result))
result.head()

28300

   indice                                           risposta
0      28   Alle scuole pubbliche e concesso l' uso Pubbl...
1     322   Il modulo per la verifica del contatore è dis...
2     353   Il consumo medio al giorno di acqua potabile ...
3     194   Le diverse tariffe dei consumi , suddivise in...
4     232   L' Acquedotto Pugliese gestisce un sistema id...

In [5]:
result['id_test']= np.nan

In [6]:
m=0
n=24
for i in range(0,len(df)):
    a=df['id'].iloc[i]
    for j in range(m,n+1):
        result['id_test'].iloc[j]=a
    m=n+1
    n=n+25

/home/inversi/.conda/envs/TextProject/lib/python3.5/site-packages/pandas/core/indexing.py:179: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [7]:
result.head()

   indice                                           risposta  id_test
0      28   Alle scuole pubbliche e concesso l' uso Pubbl...      3.0
1     322   Il modulo per la verifica del contatore è dis...      3.0
2     353   Il consumo medio al giorno di acqua potabile ...      3.0
3     194   Le diverse tariffe dei consumi , suddivise in...      3.0
4     232   L' Acquedotto Pugliese gestisce un sistema id...      3.0

In [8]:
df['id'].iloc[-1]

6313

In [9]:
result.iloc[-1]

indice                                                    260
risposta     Invii la ricevuta di entrambi i versamenti ef...
id_test                                                  6313
Name: 28299, dtype: object

In [10]:
result['id_answer']= np.nan
for (idx,row) in result.iterrows():
    r=df2.iloc[int(row['indice'])]
    result['id_answer'].loc[idx] = r['id']

/home/inversi/.conda/envs/TextProject/lib/python3.5/site-packages/pandas/core/indexing.py:179: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [11]:
#i nostri risultati idice per indicee
result = result[['id_test', 'id_answer']]
result['id_answer']=result['id_answer'].astype(np.int64)
result['id_test']=result['id_test'].astype(np.int64)
result.head()

   id_test  id_answer
0        3        211
1        3        526
2        3        557
3        3        385
4        3        428

In [12]:
result.to_csv("result_our_id.csv",sep = "\t", encoding = 'utf8', quotechar = '"')

In [13]:
#risultati competizione indice per indice
df = pd.read_csv("/home/inversi/FAQProject/Armillotta/Dataset/qa4faq_qrel.csv", sep = "\t", encoding = 'utf8', quotechar = '"')
df.head()

   id_test  id_answer
0        3        337
1        4        339
2        5        414
3        8        419
4       41        428

In [14]:
scores = pd.merge(result, df, how='inner', on=['id_test', 'id_answer'])

n_test_question=1132
correct=len(scores)
unanswered=n_test_question-correct
print("Right answers: ",len(scores))
print("Number test questions: ",n_test_question)
print("Ununswered question: ",unanswered)

Right answers:  163
Number test questions:  1132
Ununswered question:  969

In [15]:
score = (1.0/n_test_question) * (correct + (unanswered * (correct/n_test_question)))
print ("Score: ", score)

Score:  0.26725190101012625